@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Work Sans', sans-serif;
}

form.forms {
  width: 100%;
  float: left;
}

form.forms .form_50 {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

form.forms .form-group {
  width: 100%;
  float: left;
  line-height: 0;
  margin-bottom: 20px;
}

form.forms .form-group input, form.forms .form-group textarea, form.forms .form-group select {
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  padding: 12px 25px;
  border-radius: 0;
  resize: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

form.forms .form-group input:focus, form.forms .form-group textarea:focus, form.forms .form-group select:focus {
  outline: none;
  border: solid 1px #289FB3;
}

form.forms .form-group label {
  width: 100%;
  float: left;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1;
}

form.forms input.submit-btn {
  background: #27616A;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 25px;
}

form.forms input.submit-btn:focus {
  outline: none;
}

.login_page_wrapper {
  width: 100%;
  float: left;
  height: 100vh;
  overflow: hidden;
}

.login_page_wrapper .right_wrapper {
  width: 50%;
  float: left;
  position: relative;
}

.login_page_wrapper .right_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.login_page_wrapper .right_wrapper::after {
  content: "";
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.login_page_wrapper .left_wrapper {
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.login_page_wrapper .left_wrapper .login_form_box {
  max-width: 70%;
  min-width: 50%;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.login_page_wrapper .left_wrapper .login_form_box img.logo {
  height: 60px;
}

.login_page_wrapper .left_wrapper .login_form_box form.forms {
  width: 100%;
  float: left;
  margin-top: 30px;
}

.login_page_wrapper .left_wrapper .login_form_box form.forms input.submit-btn {
  width: 100%;
}

.login_page_wrapper .left_wrapper .login_form_box .bottom_link {
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: left;
}

.login_page_wrapper .left_wrapper .login_form_box .bottom_link a {
  display: inline-block;
  color: #000;
  font-weight: 600;
}

main#dashboard-container {
  width: 100%;
  float: left;
}

main#dashboard-container aside.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #289FB3;
}

main#dashboard-container aside.sidebar .logo_box {
  width: 100%;
  padding: 50px 30px 40px;
}

main#dashboard-container aside.sidebar .logo_box img {
  width: 100%;
}

main#dashboard-container aside.sidebar nav.sidebar_nav {
  width: 100%;
  float: left;
}

main#dashboard-container aside.sidebar nav.sidebar_nav ul {
  list-style: none;
  line-height: 1;
}

main#dashboard-container aside.sidebar nav.sidebar_nav ul li {
  width: 100%;
}

main#dashboard-container aside.sidebar nav.sidebar_nav ul li a {
  padding: 15px 20px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

main#dashboard-container aside.sidebar nav.sidebar_nav ul li a i {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .login_page_wrapper .right_wrapper {
    display: none;
  }
  .login_page_wrapper .left_wrapper {
    width: 100%;
  }
  .login_page_wrapper .left_wrapper .login_form_box {
    max-width: 90%;
  }
  .login_page_wrapper .left_wrapper .login_form_box img.logo {
    height: 40px;
  }
  .login_page_wrapper .left_wrapper .login_form_box form.forms {
    width: 100%;
    float: left;
    margin-top: 15px;
  }
  .login_page_wrapper .left_wrapper .login_form_box form.forms input.submit-btn {
    width: 100%;
  }
  .login_page_wrapper .left_wrapper .login_form_box .bottom_link {
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: left;
  }
  .login_page_wrapper .left_wrapper .login_form_box .bottom_link a {
    display: inline-block;
    color: #000;
    font-weight: 600;
  }
}
/*# sourceMappingURL=style.css.map */